﻿<%@ page language="C#" masterpagefile="~/SampleMaster.master" autoeventwireup="true" inherits="Interviewer, App_Web_dvy2uzvm" title="Untitled Page" %>
<%@ MasterType VirtualPath="~/SampleMaster.master" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
<h1 class="PageHeader">
       <span class="insetText"> <span class="blueTITLEtext">&nbsp;Interviewer DB</span></span></h1>
       <br />
       <table cellpadding="0" cellspacing="0" width="100%">
       <tr>
    <td colspan="2">
    <span class="blueTITLEtext" style="font-size:medium">Add, Modify and Delete Interviewers </span> 
    <div style="margin-top:10px;border:1px solid gray;margin-bottom:10px"></div>
    </td>
    </tr>
    <tr>
    <td style="width:15%">
    Interviewer SysID:
    </td>
    <td>
        <asp:TextBox ID="TxtID" Width="300px" BorderStyle="Ridge" runat="server"></asp:TextBox>
                <asp:RequiredFieldValidator ID="RequiredFieldValidator1" runat="server" 
            ControlToValidate="TxtID" ErrorMessage="Enter Interviewer SysID">*</asp:RequiredFieldValidator>
    </td>
    </tr>
    <tr><td><br /></td></tr>
    <tr>
    <td style="width:15%">
    InterviewerName:
    </td>
    <td>
        <asp:TextBox ID="TxtInterviewerName" Width="300px" BorderStyle="Ridge" runat="server"></asp:TextBox>
                <asp:RequiredFieldValidator ID="RequiredFieldValidator2" runat="server" 
            ControlToValidate="TxtInterviewerName" ErrorMessage="Enter Interviewer Name">*</asp:RequiredFieldValidator>
    </td>
    </tr>
    <tr><td><br /></td></tr>
    <tr>
    <td style="width:15%" valign="top">
    Area:
    </td>
    <td>
        <asp:GridView ID="gdLocations" Width="200px" Height="100"  AutoGenerateColumns="false" runat="server" >
        <Columns>
        <asp:TemplateField>
        <HeaderStyle  BackColor="#CCCCFF" />
        <ItemTemplate>
        <asp:CheckBox id="chkSelLocations" runat="server" />
        </ItemTemplate>
        </asp:TemplateField>
        <asp:TemplateField HeaderStyle-CssClass="clsLeft" HeaderStyle-BackColor="#CCCCFF">
        <HeaderTemplate>
        Select Locations
        </HeaderTemplate>
        <ItemTemplate>
        <asp:Label ID="LblLocation" Text='<%# Bind("locname") %>'  runat="server"></asp:Label>
        </ItemTemplate>
        </asp:TemplateField>
        <asp:TemplateField HeaderStyle-CssClass="clsWidth" Visible="false">
        <HeaderStyle BackColor="#CCCCFF" />
        <ItemTemplate >
        <asp:Label ID="LblLocationId" Text='<%# Bind("locid") %>' Visible="true" runat="server"></asp:Label>
        </ItemTemplate>
        </asp:TemplateField>
        </Columns>
        <RowStyle BackColor="" />
        <AlternatingRowStyle  BackColor=""/>
        </asp:GridView>        
    </td>
    </tr>
    <tr><td colspan="2"><br /></td></tr>
    <tr>
    <td></td>
    <td>
    <asp:Button ID="BtnAdd" Text="Add" runat="server" onclick="BtnAdd_Click"/>
    </td>
    </tr>
    <tr><td colspan="2"><br /></td></tr>
    <tr>
    <td colspan="2">
        <asp:GridView ID="GDTran" Width="500px" AutoGenerateColumns="false" runat="server" AutoGenerateDeleteButton="true"  AutoGenerateEditButton="false" OnRowDeleting="GDTran_RowDeleting" OnRowEditing="GDTran_RowEditing"
        OnRowCancelingEdit="GDTran_CancelEdit" OnRowUpdating="GDTran_RowUpdating" EnableViewState="true" >
            <Columns>
            <asp:TemplateField HeaderStyle-CssClass="clsLeft">
            <HeaderTemplate>Interviewer Id</HeaderTemplate>
            <HeaderStyle  BackColor="#CCCCFF" />
            <ItemTemplate>
            <asp:Label ID="LblInId" runat="server"  Text='<%# Bind("interviewersysid") %>' Visible="true"></asp:Label>
            </ItemTemplate>
            <EditItemTemplate>
            <asp:TextBox ID="TxtEditInID" runat="server" Text='<%# Bind("interviewersysid") %>'></asp:TextBox>
            </EditItemTemplate>
            </asp:TemplateField>
            <asp:TemplateField HeaderStyle-CssClass="clsLeft">
            <HeaderStyle  BackColor="#CCCCFF" />
            <HeaderTemplate>Name</HeaderTemplate>
            <ItemTemplate>
            <asp:Label ID="LblInterviewerName"  Text='<%# Bind("interviewername") %>' runat="server"></asp:Label>
            </ItemTemplate>
            <EditItemTemplate>
            <asp:TextBox ID="TxtEditInName" runat="server" Text='<%# Bind("interviewername") %>'></asp:TextBox>
            </EditItemTemplate>
            </asp:TemplateField>
            <asp:TemplateField HeaderStyle-CssClass="clsLeft">
            <HeaderStyle  BackColor="#CCCCFF" />
            <HeaderTemplate>Location</HeaderTemplate>
            <ItemTemplate>
            <asp:Label ID="LblLocation" runat="server"  Text='<%# Bind("location") %>'></asp:Label>
            </ItemTemplate>
            </asp:TemplateField>
            <asp:TemplateField HeaderStyle-CssClass="clsLeft" Visible="false">
            <HeaderStyle  BackColor="#CCCCFF" />
            <ItemTemplate>
            <asp:Label ID="LblInterviewerId" Visible="true" runat="server"  Text='<%# Bind("interviewerautoid") %>'></asp:Label>
            </ItemTemplate>
            </asp:TemplateField>
            <asp:commandfield showeditbutton="true" causesvalidation="false" headertext="Edit" />

            </Columns>
        </asp:GridView>
    </td>
    </tr>
    </table>
</asp:Content>

