﻿<%@ page language="C#" masterpagefile="~/SampleMaster.master" autoeventwireup="true" inherits="Test1, App_Web_dvy2uzvm" title="Untitled Page" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <asp:Label ID="lblTest" runat="server"></asp:Label>
<br />
<br />
    <asp:FileUpload ID="FvUpload" runat="server" />
    
    <asp:Button ID="Button1" runat="server" Text="Button" 
    onclick="Button1_Click" />
</asp:Content>

