﻿<%@ page language="C#" autoeventwireup="true" inherits="Unauthorize, App_Web_z4pecfdp" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
<link href="css/Site.css?v=1" rel="stylesheet" type="text/css" />
    <title>Untitled Page</title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    <br />
    <br />
    <br /><br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br /><br />
    <br />
    <br />
    <br />
    <div class="blueTITLEtext" style="text-align:center" >
    You are unauthorzied to view this page
    </div>
    <br />
    <div class="clsText" style="text-align:center"><a href="login.aspx">Click here</a> to continue</div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    </div>
    </form>
</body>
</html>
