﻿body 
{
	background: white;
    font-size: .80em;
    font-family: "Helvetica Neue" , "Lucida Grande" , "Segoe UI" , Arial, Helvetica, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    border-radius: 20px;
    color:Black;	
    margin-left:20px;
    margin-right:20px;
}
.page
{
    width: 1500px;
    background-color: #fff;
    margin: 20px auto 0px auto;
    border: 1px solid #496077;
    
}
h1, h2, h3, h4, h5, h6
{
    font-size: 1.5em;
    color: #666666;
    font-variant: small-caps;
    text-transform: none;
    font-weight: 200;
    margin-bottom: 0px;
}

h1
{
    font-size: 1.6em;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.header
{
    position: relative;
    margin: 0px;
    padding: 0px;
    background: #000000;
    width: 100%;
    top: 0px;
    left: 0px;
    height: 62px;
}

.header h1
{
    font-weight: 700;
    margin: 0px;
    padding: 0px 0px 0px 20px;
    color: #f9f9f9;
    border: none;
    line-height: 2em;
    font-size: 2em;
}
.main
{
    padding: 0px 12px;
    margin: 12px 8px 8px 8px;
        -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    border-radius: 20px;
    min-height: 660px;
}
.PageHeader
{
    background: #C0C0C0;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    border-radius: 20px;
    width: 545px;
    text-align: center;
    width: 100%;
}
.blueTITLEtext
{
    color: #0078ad;
    font-size: 20pt;
    font-weight: bold;
}
.blueTITLEtextsmall
{
    color: #0078ad;
    font-size: 12pt;
    font-weight: bold;
}
.clsSubText
{
	color:#0078ad;
	font-weight:bold;
}
.clsHtmlTableHeader
{
	color:#0078ad;
	font-weight:bold;
	background-color:#c0c0c0;
	text-align:center;
	height:35px;
}
.clsGDheader
{
	height:30px;
	text-align:center;
	background-color:Blue;	
}