﻿/* DEFAULTS
----------------------------------------------------------*/

body
{
    background: #b6b7bc;
    font-size: .80em;
    font-family: "Helvetica Neue" , "Lucida Grande" , "Segoe UI" , Arial, Helvetica, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    border-radius: 20px;
    /*color: #696969;*/
    color:Black;
}

a:link, a:visited
{
    color: #034af3;
}

a:hover
{
    color: #1d60ff;
    text-decoration: none;
}

a:active
{
    color: #034af3;
}

p
{
    margin-bottom: 10px;
    line-height: 1.6em;
}


/* HEADINGS   
----------------------------------------------------------*/

h1, h2, h3, h4, h5, h6
{
    font-size: 1.5em;
    color: #666666;
    font-variant: small-caps;
    text-transform: none;
    font-weight: 200;
    margin-bottom: 0px;
}

h1
{
    font-size: 1.6em;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

h2
{
    font-size: 1.5em;
    font-weight: 600;
}

h3
{
    font-size: 1.2em;
}

h4
{
    font-size: 1.1em;
}

h5, h6
{
    font-size: 1em;
}

/* this rule styles <h1> and <h2> tags that are the 
first child of the left and right table columns */
.rightColumn > h1, .rightColumn > h2, .leftColumn > h1, .leftColumn > h2
{
    margin-top: 0px;
}


/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

.page
{
    width: 1200px;
    background-color: #fff;
    margin: 20px auto 0px auto;
    border: 1px solid #496077;
    
}
.pageLarge
{
    width: 1600px;
    background-color: #fff;
    margin: 20px auto 0px auto;
    border: 1px solid #496077;
    
}
.header
{
    position: relative;
    margin: 0px;
    padding: 0px;
    background: #000000;
    width: 100%;
    top: 0px;
    left: 0px;
    height: 62px;
}

.header h1
{
    font-weight: 700;
    margin: 0px;
    padding: 0px 0px 0px 20px;
    color: #f9f9f9;
    border: none;
    line-height: 2em;
    font-size: 2em;
}

.main
{
    padding: 0px 12px;
    margin: 12px 8px 8px 8px;
        -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    border-radius: 20px;
    min-height: 660px;
}

.leftCol
{
    padding: 6px 0px;
    margin: 12px 8px 8px 8px;
    width: 200px;
    min-height: 200px;
}

.footer
{
    color: #4e5766;
    padding: 8px 0px 0px 0px;
    margin: 0px auto;
    text-align: center;
    line-height: normal;
}


/* TAB MENU   
----------------------------------------------------------*/

div.hideSkiplink
{
    background-color: #3a4f63;
    width: 100%;
}

div.menu
{
    padding: 4px 0px 4px 8px;
}

div.menu ul
{
    list-style: none;
    margin: 0px;
    padding: 0px;
    width: auto;
}

div.menu ul li a, div.menu ul li a:visited
{
    background-color: #465c71;
    border: 1px #4e667d solid;
    color: #dde4ec;
    display: block;
    line-height: 1.35em;
    padding: 4px 20px;
    text-decoration: none;
    white-space: nowrap;
}

div.menu ul li a:hover
{
    background-color: #bfcbd6;
    color: #465c71;
    text-decoration: none;
}

div.menu ul li a:active
{
    background-color: #465c71;
    color: #cfdbe6;
    text-decoration: none;
}

/* FORM ELEMENTS   
----------------------------------------------------------*/

fieldset
{
    margin: 1em 0px;
    padding: 1em;
    border: 1px solid #ccc;
}

fieldset p
{
    margin: 2px 12px 10px 10px;
}

fieldset.login label, fieldset.register label, fieldset.changePassword label
{
    display: block;
}

fieldset label.inline
{
    display: inline;
}

legend
{
    font-size: 1.1em;
    font-weight: 600;
    padding: 2px 4px 8px 4px;
}

input.textEntry
{
    width: 320px;
    border: 1px solid #ccc;
}

input.passwordEntry
{
    width: 320px;
    border: 1px solid #ccc;
}

div.accountInfo
{
    width: 42%;
}

/* MISC  
----------------------------------------------------------*/

.clear
{
    clear: both;
}

.title
{
    display: block;
    float: left;
    text-align: left;
    width: auto;
}

.loginDisplay
{
    font-size: 1.1em;
    display: block;
    text-align: right;
    padding: 10px;
    color: White;
}

.loginDisplay a:link
{
    color: white;
}

.loginDisplay a:visited
{
    color: white;
}

.loginDisplay a:hover
{
    color: white;
}

.failureNotification
{
    font-size: 1.2em;
    color: Red;
}

.bold
{
    font-weight: bold;
}

.submitButton
{
    text-align: right;
    padding-right: 10px;
}


.cbdb-menu li
{
    display: block;
    float: left;
    line-height: 35px;
    list-style: none;
    margin: 0 5px;
    padding: 0 15px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
}
.cbdb-menu li a
{
    color: rgba(255, 255, 255, 0.8);
    font: 18px "Myriad Pro" , "Lucida Grande" ,Helvetica,Arial,sans-serif;
    font-weight: bold;
    text-decoration: none;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}
.cbdb-menu a:hover
{
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
}
li.dark a
{
    color: rgba(0, 0, 0, 0.8);
    font-weight: bold;
    text-decoration: none;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.4);
}

.blueTITLEtext
{
    color: #0078ad;
    font-size: 20pt;
    font-weight: bold;
}
.blueTITLEtextsmall
{
    color: #0078ad;
    font-size: 12pt;
    font-weight: bold;
}
.blueTITLEtextsmallest
{
    color: #0078ad;
    font-size: 8pt;
    font-weight: bold;
}
.greyTITLEtext
{
    color: #1e99d5;
    font-size: 20pt;
}

#footer
{
    background-repeat: repeat-x;
    bottom: 0;
    font-family: Arial;
    font-size: 10px;
    height: 201px;
    position: absolute;
    text-align: center;
    width: 100%;
}

.PageHeader
{
    background: #C0C0C0;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    border-radius: 20px;
    width: 545px;
    text-align: center;
    width: 100%;
}

.FormatErrorlbl
{
    font-size: 17px;
    height: 20px;
    font-weight: bold;
    color: red;
    text-align: center;
    border: 1px solid Red;
    text-decoration: none;
    background: #d4d8ff;
}

.FooterStyle
{
    background: black;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    border-radius: 20px;
}
.blueTITLEtextFooter
{
    color: #0078ad;
    font-weight: bold;
}

.greyTITLEtextFooter
{
    color: #1e99d5;
}

.Permission
{
    background: black;
}
.TableHeader
{
    background: #C0C0C0;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    border-radius: 20px;
}
.TableHeaderStyle
{
    color: #0078ad;
    font-size: 12pt;
    font-weight: bold;
}

.TableHeaderStyleSmall
{
    color: #0078ad;
    font-size: 9pt;
    font-weight: bold;
}
.TableHeaderStyleGrey
{
    color: #1e99d5;
    font-size: 12pt;
}
.invisible
{
    display: none;
}
.floatRigt
{
    float: right;
}
.floatLeft
{
    float: left;
    
}

.textLeft 
{
text-align:left;   
}

table.sample {
	border-width: 1px;
	border-spacing: 2px;
	border-style: outset;
	border-color: gray;
	border-collapse: separate;
	background-color: white;
}
table.sample th {
	border-width: 2px;
	padding: 1px;
	border-style: inset;
	border-color: gray;
	background-color: rgb(255, 250, 250);
	-moz-border-radius: ;
}
table.sample td {
	border-width: 2px;
	padding: 1px;
	border-style: inset;
	border-color: gray;
	background-color: rgb(255, 250, 250);
	-moz-border-radius: ;
}

 .accordion {    margin-left: 0px;
    margin-right: 14px;
}  
          
        .accordionHeader {  
            border: 1px solid #2F4F4F;  
            color: white;  
            background-color: #2E4d7B;  
            font-family: Arial, Sans-Serif;  
            font-size: 12px;  
            font-weight: bold;  
            padding: 5px;  
            /*margin-top: 5px;  */
            cursor: pointer;  
        }  
          
        .accordionHeaderSelected {  
            border: 1px solid #2F4F4F;  
            color: white;  
            background-color: #5078B3;  
            font-family: Arial, Sans-Serif;  
            font-size: 12px;  
            font-weight: bold;  
            padding: 5px;  
            /*margin-top: 5px;  */
            cursor: pointer;  
        }  
          
        .accordionContent {  
            background-color: #D3DEEF;  
            border: 1px dashed #2F4F4F;  
            border-top: none;  
            padding: 5px;  
            /*padding-top: 10px;  */
        }  
        
        .insetText {
        /* font-family: Lucida Grande;
       
        -webkit-background-clip: text;
	    -moz-background-clip: text;
	    background-clip: text;
        color: transparent;
        text-shadow: rgba(255,255,255,1.0) 0px 3px 3px; */
}

.DasbourdHeader
{
    background: #5D75C4;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    border-radius: 20px;
    width: 545px;

    width: 100%;
    height: 20px;
}
.DasbourdHeaderGrey
{
    background: #FFFFFF;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    border-radius: 20px;
    height: 9px;
}
.DasbourdHeaderStyle
{
    color: grey;
    font-size: 12pt;
    font-weight: bold;
}    

.Bar
{
    border: 4px inset #3a4f63;
    background: #FFFFFF;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    border-radius: 20px;
    height: 15px;
    
}
.Progress
{
    border: 2px inset #3a4f63;
    background: #3a4f63;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    border-radius: 20px;
    height: 15px;
}
.prog
{
    background: #FFFFFF;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    border-radius: 20px;
      height: 15px;
      width: 30%;
}
.BarNew
{

    background: #5D75C4;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    border-radius: 20px;
     width: 545px;
    height: 17px;
    
}

.Boldstyle
{
   
    font-size: 10pt;
    font-weight: bold;
}
.clsFirstMenu
{
	background-color:#f7f6f3;
    color:#7c6f57;
	background-color: #3a4f63;    
	margin-top:5px;
}
.clsNewMenu
{
	background-color:#f7f6f3;
    color:#034af3;
	padding-top:5px;
}
.clsSelectMenu
{
	background-color:#5d7b9d;
    color:#f7f6f3;
	padding-top:5px;
}
.clsNewMenu:hover
{
	background-color:#5d7b9d;
    color:#f7f6f3;
	padding-top:5px;
}
.clsSubText
{
	color:#0078ad;
	font-weight:bold;
}

.clsHtmlTableHeader
{
	color:#0078ad;
	font-weight:bold;
	background-color:#c0c0c0;
	text-align:center;
	height:30px;
}
.clsButton1
{
   /*background: url("../Images/button.gif");*/
   background-image:url("../Images/button.gif");
   width:80px;
   height:30px;
   text-align:center;
   vertical-align:middle;
   font-size:small;
   font-family:Arial;
   font-weight:bold;
   color:#5d5f5f;
   text-decoration:none;
  
   
   cursor: hand;
   cursor: pointer;
}
.clsButton
{
   background: url("../Images/button.gif")  no-repeat;
   width:80px;
   height:30px;
   text-align:center;
   vertical-align:middle;
   font-size:small;
   font-family:Arial;
   font-weight:bold;
   color:#00436b;
   text-decoration:none;
  
   border:none;
   cursor: hand;
   cursor: pointer;
}
.clsButton:hover
{
   background: url("../Images/button_.gif") no-repeat;
   color:white;
}
.clsLeft
{
	text-align:left;
}
.clsWidth
{
	width:0px;
}
.SuccessLeft
{
    background-image:url(../Images/SUCCESS_lc.gif);
    background-repeat:no-repeat;
    height:40px;
    vertical-align:top;
    width:42px;
    
}
.SuccessTile
{
    background-image:url(../Images/SUCCESS_s.gif);
    background-repeat:repeat;
    vertical-align:top;
    height:40px;
    text-align:center;
}
.SuccessRight
{
    background-image:url(../Images/SUCCESS_rc.gif);
    background-repeat:no-repeat;
    height:40px;
    width:10px;
    text-align:right;
    vertical-align:top;
}
.ErroLeft
{
    background-image:url(../images/ERROR_lc.gif);
    background-repeat:no-repeat;
    height:40px;
    vertical-align:top;
    width:42px;
 
}
.ErrorTile
{
    background-image:url(../images/ERROR_s.gif);
    background-repeat:repeat;
    vertical-align:top;
    height:40px;

}
.ErrorRight
{
    background-image:url(../images/ERROR_rc.gif);
    background-repeat:no-repeat;
    height:40px;
    width:10px;
    text-align:right;
    vertical-align:top;
}
.InfoLeft
{
    background-image:url(../images/INFO_lc.gif);
    background-repeat:no-repeat;
    height:40px;
    vertical-align:top;
    width:42px;
 
}
.InfoTile
{
    background-image:url(../images/INFO_s.gif);
    background-repeat:repeat;
    vertical-align:top;
    height:40px;

}
.InfoRight
{
    background-image:url(../images/INFO_rc.gif);
    background-repeat:no-repeat;
    height:40px;
    width:10px;
    text-align:right;
    vertical-align:top;
}
.errorText
{
    color:white;
    text-align:left;
    vertical-align:middle;
    padding-top:10px;
    font-weight:bold;
    padding-left:10px;
}
.clsSubHeader
{
	font-weight:bold;
}
.MainHeader
{
	font-size:25px;
	font-weight:bold;
}
.lblMessage
{
	font-weight:bold;
	font-size:20px;
	color:Red;
}
.clsMandatory
{
	color:Red;
}